#
# Configuration file for the fancy index.
#
# Live example
# http://results.swanagesailingclub.org.uk/

# Apache docs
# https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html
# https://httpd.apache.org/docs/trunk/howto/htaccess.html
#

# Basic settings to turn on the fancy index.
Options +Indexes
IndexOptions +FancyIndexing
IndexOptions +HTMLTable

# The header and footer files, use these to wrap the listing in a nice display by adding HTML to those
# files. Google analytics code can go in the footer.
HeaderName /header.html
ReadmeName /footer.html

# Exclude the following files and directories from the index.
# *.php is a wildcard to exclude all PHP files
IndexIgnore header.html footer.html Logo.jpg updated.txt *.php list robots.txt

# Example redirects, use this to redirect from one location to another.
Redirect 301 /old-page /new-page

# This is relevant because I have a PHP webservice running under this location:
# http://results.swanagesailingclub.org.uk/list/
#
# If you don't need PHP pages within your directory structure, leave this out.
AddType x-httpd-php71 .php
